@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: Lato;
  color: #161A19;
}

.nav-link {
  font-size: 14px;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.page-header h1 {
  color: #595959;
  font-size: 96px;
}
@media screen and (min-width: 568px) {
  .page-header h1 {font-size: 86px;}
}

.fas {
  size:
}
.page-header address {
  color: #424242;
  font-size: 24px;
  line-height: 30px;
}

.affiliation-text {
  color: #424242;
  font-size: 24px;
  line-height: 31px;}

@media screen and (min-width: 568px){
.affiliation-text {
  font-size: 31px;
  line-height: 41px;}
}

.triangle-top {
  width: 0;
  height: 0;
  border-top: 143px solid #D13035;
  border-left: 143px solid transparent;
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-top: 143px solid #D13035;
  border-right: 143px solid transparent;
}

.red-tag {
  background-color: #D13035;
  height: 143px;
}

.red-tag h1 {
  color: #FFFFFF;
  font-size: 28px;
}

@media screen and (min-width: 868px) {
  .red-tag h1 {
    font-size: 48px;
    font-weight: 800;
  }
}

.card {

}

.card-img {
  height: 90px;
}
@media screen and (min-width: 868px) {
  .card-img {
    height: 120px;
    margin: 20px;
  }
}

.card-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 30px;
}

.red-point img{
  margin: 2rem;
  max-height: 100px;

}
.red-point ul {
  list-style: none;
}
.red-point ul li::before {
  color: red;
  content: "\2022";
  font-size: 18px;
  margin-left: 1em;
}
.red-point address {
  line-height: 24px;
}

.logos img {
  margin: 2rem;
}

.btn-hire {
  background-color: #D13035;
  border-radius: 20px;
  font-size: 28px;
  width: 300px;
  height: 100px;
}
@media screen and (min-width: 568px) {
  .btn-hire {
    font-size: 48px;
    width: 426px;
    height: 156px;}
}
@media screen and (min-width: 768px) {
  .btn-hire {
    font-size: 48px;
    width: 626px;
    height: 156px;}
}
footer {
  background-color: #3C444C;
  height: 100px;
}

footer a {
  font-size: 11px;
}

Bootstrap 4 breakpoints
*/

/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) {
    .card-text {font-size: 16px;}
    .btn-hire {
      font-size: 28px;
      width: 326px;
      height: 56px;}
  }


  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card-text {font-size: 20px;}
    .btn-hire {
      font-size: 48px;
      width: 626px;
      height: 156px;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    . {font-size: 40px;}

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .class-name {font-size: 48px;}
  }
