@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: Lato;
  color: #161A19;
}

.active {
  color: #161A19;
  text-decoration: underline;
  border-bottom-color: #D13035;
}

.nav-link {
  font-size: 14px;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.page-header h1 {
  color: #595959;
  font-size: 96px;
  font-weight: 300;
}

.fas {
  size:
}
address {
  color: #424242;
  font-size: 24px;
  line-height: 30px;
}

.affiliation-text {
  color: #424242;
  font-size: 31px;
  line-height: 41px;
}

.triangle-top {
  width: 0;
  height: 0;
  border-top: 143px solid #D13035;
  border-left: 143px solid transparent;
}
.red-tag {
  background-color: #D13035;
  height: 143px;
}

.red-tag h1 {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 800;
}

.card {
  height: 440px;
}
.card-img {
  height: 120px;
}

.card-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 30px;
}
